body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  color: #777;
  line-height: 34px;
  background: url("../images/mooning.png");
}
* {
  box-sizing: border-box;
}

.container {
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.navbar navbar-default {
  color: #ffffff;
}

.photo {
  width: 260px;
  height: 280px;
  float: left;
}

p {
  font-size: 14px;
}

.connect {
  width: 50px;
  height: 50px;
}

/*footer*/
footer {
  padding: 30px 0;
  clear: both;
  color: #fff;
  color: #ccc;
  font-size: 12px;
  text-align: center;
  background: #666;
  border-top: 8px solid lightblue;
}

/*portfolio page*/
.caption {
  text-align: center;
  background-color: #676b72;
}

.caption h5 {
  color: #cccccc;
}

/*contact page*/
.form-group {
  padding: 5px 20px 0px 20px;
  font-size: 14px;
  border-color: gray;
}


